@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
	@apply flex;
	@apply justify-center;
	@apply items-center;
}

.left-tri {
	clip-path: polygon(-1px 0, 100% 50%, -1px 100%);
}

.not-left-tri {
	clip-path: polygon(
		0 -1px,
		calc(100% + 1px) 50%,
		0 calc(100% + 1px),
		calc(100% + 1px) calc(100% + 1px),
		calc(100% + 1px) -1px
	);
}
